* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #0E2148;
    color: rgb(236, 230, 230);
}

.projetos {
    padding: 100px 0;
    padding-left: 50px;
}

header {
    display: block;
    justify-content: space-between;
    padding: 30px;
    margin-left: 50px;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
    padding-left: 50px;
}

.principal {
    display: flex;
    align-items: center;
    min-height: 85vh;
    padding-left: 48px;
}

.principal h1 {
    font-size: 80px;
    margin-bottom: 20px;
    letter-spacing: -4px;
}

.principal h1 span {
    color: #E3D095;
}

.principal p {
    font-size: 20px;
    margin-bottom: 40px;
    max-width: 500px;
    color: #bbb;
}

.botao {
    display: inline-block;
    padding: 15px 30px;
    background-color: #7965C1;
    color: rgb(236, 230, 230);
    font-weight: bold;
    border-radius: 5px;
}

.titulo-secao {
    font-size: 42px;
    margin-bottom: 60px;
    position: relative;
}

.titulo-secao::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100px;
    height: 4px;
    background-color: #7965C1;
}

.grade-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.img-projeto {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card {
    background-color: #0E2148;
    border-radius: 10px;
    overflow: hidden;
}

.info-projeto {
    padding: 20px;
    color: #7965C1;
    font-weight: 500px;
}

.info-projeto h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-projeto p {
    margin-bottom: 15px;
    color: #bbb;
}

.link-projeto{
    text-decoration: none;
    color: #7965C1;
}

.secao {
    padding-left: 48px;
}

.Sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    text-align: left;
    max-width: 1200px;
    padding-left: 48px;
}

.conteudo-sobre h2 {
    margin-bottom: 30px;
}

.conteudo-sobre p {
    margin-bottom: 20px;
    color: #bbb;
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.tag-habilidades {
    background-color: #7965c1b9;
    color: rgb(236, 230, 230);
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.botoes-contato {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.botao-contato {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 500;
    min-width: 160px;
    text-decoration: none;
    color: black;
}

.email {
    background-color: #EA4335;
}

.linkedin {
    background-color: #0077B5;
}

.whatsapp {
    background-color: #25d366;
}

.github {
    background-color: rgb(236, 230, 230);
}

